<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>registration</title>
</head>
<body>
    <form action="register" method="POST">
      {% csrf_token %}

        <input type="text" name="first_name" placeholder="FirstName"><br>
        <input type="text" name="last_name" placeholder="LastName"><br>
        <input type="text" name="username" placeholder="username"><br>
        <input type="password" name="password1" placeholder="Password"><br>
        <input type="password" name="password2" placeholder="Confirm Password"><br>
        <input type="submit" >

    </form>
    <div>
        {% for message in messages %}
        <h1> {{messages}} </h1>
        {% endfor %}


   </div>
</body>
</html>